USE [SEMICOLONS_BOOKS_STORE2]
GO
/****** Object:  Table [dbo].[ACCOUNTS]    Script Date: 08/12/2023 09:21:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACCOUNTS](
	[MANGUOIDUNG] [int] IDENTITY(1,1) NOT NULL,
	[TENDANGNHAP] [nvarchar](255) NULL,
	[MATKHAU] [nvarchar](100) NULL,
	[TENNGUOIDUNG] [nvarchar](100) NULL,
	[DIACHI] [nvarchar](255) NULL,
	[SODIENTHOAI] [nvarchar](10) NULL,
	[EMAIL] [nvarchar](100) NULL,
	[VAITRO] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MANGUOIDUNG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BOOKS]    Script Date: 08/12/2023 09:21:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOOKS](
	[MASACH] [int] IDENTITY(1,1) NOT NULL,
	[TENSACH] [nvarchar](100) NULL,
	[HINH] [nvarchar](200) NULL,
	[SOLUONG] [int] NULL,
	[MALOAI] [int] NULL,
	[TACGIA] [nvarchar](100) NULL,
	[GIA] [float] NULL,
	[NAMXUATBAN] [date] NULL,
	[NHAXUATBAN] [nvarchar](100) NULL,
	[XEMTRUOC] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[MASACH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CATEGORIES]    Script Date: 08/12/2023 09:21:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATEGORIES](
	[MALOAI] [int] IDENTITY(1,1) NOT NULL,
	[TENLOAI] [nvarchar](100) NULL,
	[MOTA] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MALOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ORDERDETAILS]    Script Date: 08/12/2023 09:21:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORDERDETAILS](
	[MADONHANGCHITIET] [int] IDENTITY(1,1) NOT NULL,
	[MADONHANG] [int] NULL,
	[MASACH] [int] NULL,
	[SOLUONG] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MADONHANGCHITIET] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ORDERS]    Script Date: 08/12/2023 09:21:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORDERS](
	[MADONHANG] [int] IDENTITY(1,1) NOT NULL,
	[MANGUOIDUNG] [int] NULL,
	[NGAYDATHANG] [date] NULL,
	[DIACHI] [nvarchar](256) NULL,
PRIMARY KEY CLUSTERED 
(
	[MADONHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ACCOUNTS] ON 

INSERT [dbo].[ACCOUNTS] ([MANGUOIDUNG], [TENDANGNHAP], [MATKHAU], [TENNGUOIDUNG], [DIACHI], [SODIENTHOAI], [EMAIL], [VAITRO]) VALUES (1, N'user1', N'password1', N'Nguyễn Văn A', N'Hà Nội', N'0987654321', N'user1@example.com', 0)
INSERT [dbo].[ACCOUNTS] ([MANGUOIDUNG], [TENDANGNHAP], [MATKHAU], [TENNGUOIDUNG], [DIACHI], [SODIENTHOAI], [EMAIL], [VAITRO]) VALUES (2, N'user2', N'password2', N'Phạm Thị B', N'Hồ Chí Minh', N'0901234567', N'user2@example.com', 0)
INSERT [dbo].[ACCOUNTS] ([MANGUOIDUNG], [TENDANGNHAP], [MATKHAU], [TENNGUOIDUNG], [DIACHI], [SODIENTHOAI], [EMAIL], [VAITRO]) VALUES (4, N'phuongta11', N'123456789', N'Trịnh Anh Phương', N'Phú Xuân - Hoài Mỹ - Hoài Nhơn - Bình Định', N'0123456789', N'phuongta11@fpt.edu.vn', 0)
SET IDENTITY_INSERT [dbo].[ACCOUNTS] OFF
GO
SET IDENTITY_INSERT [dbo].[BOOKS] ON 

GO
SET IDENTITY_INSERT [dbo].[BOOKS] OFF
GO
SET IDENTITY_INSERT [dbo].[CATEGORIES] ON 

INSERT [dbo].[CATEGORIES] ([MALOAI], [TENLOAI], [MOTA]) VALUES (1, N'Tiểu thuyết', N'Sách văn học tiểu thuyết')
INSERT [dbo].[CATEGORIES] ([MALOAI], [TENLOAI], [MOTA]) VALUES (2, N'Khoa học', N'Sách khoa học tự nhiên')
INSERT [dbo].[CATEGORIES] ([MALOAI], [TENLOAI], [MOTA]) VALUES (3, N'Trinh thám', N'Sách trinh thám')
SET IDENTITY_INSERT [dbo].[CATEGORIES] OFF
GO
SET IDENTITY_INSERT [dbo].[ORDERDETAILS] ON 

INSERT [dbo].[ORDERDETAILS] ([MADONHANGCHITIET], [MADONHANG], [MASACH], [SOLUONG]) VALUES (1, 1, 1, 2)
INSERT [dbo].[ORDERDETAILS] ([MADONHANGCHITIET], [MADONHANG], [MASACH], [SOLUONG]) VALUES (2, 1, 3, 1)
INSERT [dbo].[ORDERDETAILS] ([MADONHANGCHITIET], [MADONHANG], [MASACH], [SOLUONG]) VALUES (3, 2, 4, 3)
SET IDENTITY_INSERT [dbo].[ORDERDETAILS] OFF
GO
SET IDENTITY_INSERT [dbo].[ORDERS] ON 

INSERT [dbo].[ORDERS] ([MADONHANG], [MANGUOIDUNG], [NGAYDATHANG], [DIACHI]) VALUES (1, 1, CAST(N'2023-11-20' AS Date), N'123 Đường ABC, Hà Nội')
INSERT [dbo].[ORDERS] ([MADONHANG], [MANGUOIDUNG], [NGAYDATHANG], [DIACHI]) VALUES (2, 2, CAST(N'2023-11-22' AS Date), N'456 Đường XYZ, Hồ Chí Minh')
INSERT [dbo].[ORDERS] ([MADONHANG], [MANGUOIDUNG], [NGAYDATHANG], [DIACHI]) VALUES (3, 4, CAST(N'2023-12-07' AS Date), N'Phú Xuân - Hoài Mỹ - Hoài Nhơn - Bình Định')
SET IDENTITY_INSERT [dbo].[ORDERS] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__ACCOUNTS__6C836FE5BA598597]    Script Date: 08/12/2023 09:21:38 PM ******/
ALTER TABLE [dbo].[ACCOUNTS] ADD UNIQUE NONCLUSTERED 
(
	[TENDANGNHAP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__CATEGORI__BF45B996B6B5D6B4]    Script Date: 08/12/2023 09:21:38 PM ******/
ALTER TABLE [dbo].[CATEGORIES] ADD UNIQUE NONCLUSTERED 
(
	[TENLOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ACCOUNTS] ADD  DEFAULT ((0)) FOR [VAITRO]
GO
ALTER TABLE [dbo].[BOOKS]  WITH CHECK ADD FOREIGN KEY([MALOAI])
REFERENCES [dbo].[CATEGORIES] ([MALOAI])
GO
ALTER TABLE [dbo].[ORDERDETAILS]  WITH CHECK ADD FOREIGN KEY([MADONHANG])
REFERENCES [dbo].[ORDERS] ([MADONHANG])
GO
ALTER TABLE [dbo].[ORDERDETAILS]  WITH CHECK ADD FOREIGN KEY([MASACH])
REFERENCES [dbo].[BOOKS] ([MASACH])
GO
ALTER TABLE [dbo].[ORDERS]  WITH CHECK ADD FOREIGN KEY([MANGUOIDUNG])
REFERENCES [dbo].[ACCOUNTS] ([MANGUOIDUNG])
GO
